body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
  display: flex;
  justify-content: center;
}

header {
  background-image: url("../image/bg1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 288px;
  width: 1200px;
  margin: 0px 20px;
  margin-top: 20px;
  padding: 20px;
  position: relative;
}

header h1 {
  font-weight: bold;
  color: orange;
  text-shadow: 3px 2px white;
  font-size: 76px;
}

.section1 {
  background-image: url("../image/bg2.jpg");
  width: 1200px;
  padding: 20px;
  margin: 0px 20px;
}

.main1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  width: 1200px;
  margin: 20px auto;
}

.square-block {
  height: 400px;
  width: 400px;
  position: relative;
  background-image: linear-gradient(to top, brown, lightgrey, navy);
  text-align: center;
  flex: 0 0 400px;
}

.square-block h1 {
  font-size: 44px;
  font-weight: bold;
}

.square-block p {
  font-size: 20px;
  font-weight: normal;
  padding-left: 20px;
  padding-right: 20px;
}

.generative-ai {
  top: 0;
  left: 0;
  position: absolute;
  height: 400px;
  width: 400px;
  object-fit: cover;
  visibility: hidden;
  transition: ease 0.2s;
}

.square-block:hover .generative-ai {
  visibility: visible;
}

.video-section {
  position: relative;
  height: 400px;
  width: 740px;
  flex: 0 0 740px;
}

.video {
  height: 400px;
  width: 740px;
  object-fit: cover;
}

.video-description {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

.video-description h1 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}

.video-description p {
  font-size: 20px;
  font-weight: normal;
}

.section2 {
  background-image: url("../image/bg2.jpg");
  padding: 20px;
  margin: 0px 20px;
  width: 1200px;
}

.main2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.gemini {
  position: relative;
  height: 400px;
  width: 740px;
}

.google {
  top: 0;
  left: 0;
  position: absolute;
  height: 400px;
  width: 740px;
  object-fit: cover;
  visibility: hidden;
  transition: ease 0.2s;
}

.gemini:hover .google {
  visibility: visible;
}

.chatgpt {
  position: relative;
  height: 400px;
  width: 400px;
}

.open-ai {
  top: 0;
  left: 0;
  position: absolute;
  height: 400px;
  width: 400px;
  object-fit: cover;
  visibility: hidden;
  transition: ease 0.2s;
}

.chatgpt:hover .open-ai {
  visibility: visible;
}

footer {
  background-color: #150909;
  height: 175px;
  width: 1200px;
  justify-content: center;
  text-align: center;
  margin: 0px 20px;
  position: relative;
  padding: 20px;
}

.footer-text {
  font: verdana;
  font-size: 26px;
  font-weight: normal;
  color: orange;
}
